@breadcrumbrootback: @ini_breadcrumbs_background; /* was #cccccc; for light or #33333 for dark */
.headerbar, .middlebar, .footerbar { width: @ini_site_width; margin-left: auto; margin-right: auto; }

.contentblock {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
    // operating system font
    // https://css-tricks.com/snippets/css/system-font-stack/
}

/*#dokuwiki__site { display: none; }*/
#navcontainer ul { font-size: 0px; margin-right: 30px !important; }
#navcontainer ul li { font-size: 16px; margin-right: 4px; }
.page ul, .page ol { margin: 0.35em 0px 0px 1.5em; }
.page ul { list-style-type: disc; }
.page ol { list-style-type: decimal; }
.page li { display: list-item; margin: 0.35em 0px; list-style: square; }
.btn_secedit button { float: right; }

/* make sure the header is always in the center, whether the tagline appears beneath it or not */
/* in short, always center, no matter what is inside the header logo/sitename area */
/* inline-grid and align-items is a new css parameter, that didn't exist in 2012 */
.sitename { 
    display: inline-grid !important; padding-top: 0px !important; align-items: center; 
    margin-top: 2px; /* make it off-center a bit to make it look nicer, this design has borders, you know! */
    /* background-color: yellow; */ 
}
.claim { margin-top: -35px !important; font-size: 0.65em; /* background-color: red; */  }

.drawer-nav { color: @textcolour !important; overflow: scroll !important; }
.padhere { padding: 32px 16px; }
.doc, .license, p { margin: 0.85em 0px; }
.headerbar span, .headerbar p { margin: 0px 0px; }
.menublock p { margin: 1em 0px; }
input#qsearch__in { margin-right: 32px; max-width: 82%; }
h1, h2, h3, h4, h5, h6 { color: @textcolour; font-weight: normal; font-style: italic; letter-spacing: 0.03em; }
#dw__toc { background-color: @menubackground2; }
#mediamanager__page { color: @contentblock; }
#config__manager td.label span.outkey { background-color: @contentblock; color: @textcolour; padding: 3px; }
/*#dw__toc { padding: 8px; }*/
.qq-upload-button { background-color: @formbackground; }
#qsearch__out { display: none; }

.drawer-nav #dw__search button  { margin-top: 0.85em; } 
.menuhere #dw__search button { margin-top: 0.35em; }
.toolbutton { background-color: #BFBFBF; }
.toolbutton img { margin-top: 3px; }

#extension__manager .panelHeader { background-color: transparent; }

#mediamanager__page .panelHeader, 
#mediamanager__page .filelist .thumbs li,
#mediamanager__page .panelContent,
#mediamanager__page .namespaces h2,
.dokuwiki .tabs > ul li a, 
.dokuwiki ul.tabs li strong, 
.dokuwiki ul.tabs li a,
#mediamanager__page .panelHeader h3 {
  background-color: @menubackground2;
  color: @textcolour;
}
#mediamanager__page .file dl dd { background-color: @sidebargradientleft; }
#mediamanager__page .file dl dt { background-color: @sidebargradientright; }

#config__manager fieldset { background-color: transparent; color: @textcolour; }

.notify{
  text-align: center;
  color: @textcolour !important;
  font-weight: bold;
  width: 97%;
  padding: 8px;
  border-top: solid @noticeborderandtextANDtableheader 8px !important;
  margin-top: 16px !important;
  clear: both;

  border-radius: 0px !important;
  background-color: @noticebackground !important;
  border-left: 0px !important; 
  border-right: 0px !important; 
  border-bottom: 0px !important;
}
.notify a:link, .notify a:visited { color: @hyperlinkcolour !important; }
.dokuwiki a.wikilink1 { color: @hyperlinkcolour; }

div.error{ background-color: #DD9898; 
  color: @noticeborderandtextANDtableheader !important; 
  border: 0px; border-radius: 0px;
  .allnotices; }
div.success{ background-color: #98DD98; 
  color: @noticeborderandtextANDtableheader !important; 
  border: 0px; border-radius: 0px;
  .allnotices; }

#writtensidebar { width: 185px; }
#writtensidebarmobile li { margin: 0 0 0 1.5em; }
#writtensidebarmobile h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3.75rem;
  display: block;
  font-style: normal;
  /*color: #630;*/
  padding-right: .75rem;
  padding-left: .75rem;
  text-decoration: none;
  /*color: #222;*/
}

#writtensidebar h1 {
	color: @textcolour;
	border-bottom: 3px solid @background;
	padding: 1px 0;
	padding-left: 5px;
	padding-top: 12px;
	font-weight: normal;
	font-size: 12.8px;
	font-style: normal;
}

#writtensidebar li {
	display: block;
	padding: 6px 0;
	padding-left: 9px;
	width: 169px;
	text-decoration: none;
	color: @textcolour;
	/*background-color: #666;*/
	font-size: 12.6px;
	border-bottom: 0 solid @background;
	border-left: 0 solid #454545;
}

#writtensidebar li:hover {
	background-color: @highlightcolour;
	border-left-color: @highlightcolour;
}

#writtensidebar a:link, #writtensidebar a:active, #writtensidebar a:visited {
  color: unset;
  text-decoration: none;
}

#writtensidebar li a { width: 100%; display: block; }

.breadcrumbshere span { display: inline-block; }
.bcsep, .bchead { display: none !important; }

/***********
    Breadcrumbs
    http://css-tricks.com/triangle-breadcrumbs/
*/
.breadcrumb { 
  list-style: none; 
  overflow: hidden; 
  font-size: 0.8em;
}
.breadcrumb bdi { 
  float: left; 
}
.breadcrumb bdi a {
  color: @textcolour;
  text-decoration: none; 
  padding: 10px 0 10px 45px;
  /*background: #323232; */                   /* fallback color */
  background: @breadcrumbrootback;
  position: relative; 
  display: block;
  float: left;
}
.breadcrumb bdi a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           
    /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid @breadcrumbrootback;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
}       
.breadcrumb bdi a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  background: @breadcrumbrootback;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}       
.breadcrumb bdi:first-child a {
  padding-left: 10px;
}
  .breadcrumb bdi:nth-of-type(2) a       { background: darken(@breadcrumbrootback, 5%); }
  .breadcrumb bdi:nth-of-type(2) a:after { border-left-color: darken(@breadcrumbrootback, 5%); }
  .breadcrumb bdi:nth-of-type(3) a       { background: darken(@breadcrumbrootback, 20%);  }
  .breadcrumb bdi:nth-of-type(3) a:after { border-left-color: darken(@breadcrumbrootback, 20%); }
  .breadcrumb bdi:nth-of-type(4) a       { background:        darken(@breadcrumbrootback, 30%); }
  .breadcrumb bdi:nth-of-type(4) a:after { border-left-color: darken(@breadcrumbrootback, 30%); }
  .breadcrumb bdi:nth-of-type(5) a       { background:        darken(@breadcrumbrootback, 40%); }
  .breadcrumb bdi:nth-of-type(5) a:after { border-left-color: darken(@breadcrumbrootback, 40%); }

.breadcrumb bdi:last-child a {
  /* background: transparent !important; */
  /* text-decoration: underspanne; */
  /* color: black; */
  pointer-events: none;
  cursor: default;
}

.breadcrumb bdi:last-child a:after {
   /* border: transparent !important;  */
}
.breadcrumb bdi a:hover { background: @highlightcolour !important; }
.breadcrumb bdi a:hover:after { border-left-color: @highlightcolour !important; }



